@media screen and (max-width: 767px) {
    .hero {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 1600px;
        margin-right: auto;
        margin-left: auto;
        padding-top: 118px;
        padding-bottom: 118px;
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url('../images/mobile/bg.jpg');
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)), url('../images/mobile/bg@2x.jpg');
        }
    }
}

@media screen and (min-width: 768px) {
    .hero {
        padding-top: 118px;
        padding-bottom: 118px;
        background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url('../images/tablet/bg.jpg');
    }
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero {
                background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)), url('../images/tablet/bg@2x.jpg');
            }
        }
}

@media screen and (min-width: 1200px) {
    .hero {
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url('../images/desktop/bg.jpg');
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)), url('../images/desktop/bg@2x.jpg');
        }
    }
}


.hero__title {
    font-family: $main-font;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $color-light-title;
    max-width: 360px;
    margin: 0 auto;
}


@media screen and (min-width: 1200px) {
    .hero__title {
        font-size: 44px;
        line-height: 1.36;
        max-width: 700px;
    }
}

.hero__button {
    font-family: $main-font;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: $color-light-title;

    border: none;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;

    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #188ce8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}