$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
/* Colors */
$main-color: #757575;
$color-logo-dark: #000;
$color-light-title: #fff;
$color-dark-subtitle: #212121;
$accent-color: #2196f3;
$dark-background: #2f303a;
$light-background: #fff;
$bg-color-main: #f5f4fa;
$bg-color-secondary: #e5e5e5;
$icon-color: #afb1b8;